<%- include("partials/header", {
    backImage: image,
    active: active
}); -%>

<main>
    <div class="crew-main-container primary">
        <div class="crew-title barlow-condensed caps regular"><span class="crew-number bold">02</span>meet your crew</div>
        <div class="crew-role bellefair regular caps"><%= details.role %></div>
        <div class="crew-name bellefair regular caps"><%= details.name %></div>
        <div class="crew-bio barlow regular secondary"><%= details.bio %></div>
        <div class="crew-slider active-<%= member %>-crew">
            <a href="/crew/0" class="crew-slider-selector">
                <svg height="1rem" viewBox="0 0 2 2">
                    <circle id="doug" fill="#FFF" opacity="17%" cx="1" cy="1" r="1" />
                </svg>
            </a>
            <a href="/crew/1" class="crew-slider-selector">
                <svg height="1rem" viewBox="0 0 2 2">
                    <circle id="mark" fill="#FFF" opacity="17%" cx="1" cy="1" r="1" />
                </svg>
            </a>
            <a href="/crew/2" class="crew-slider-selector">
                <svg height="1rem" viewBox="0 0 2 2">
                    <circle id="vic" fill="#FFF" opacity="17%" cx="1" cy="1" r="1" />
                </svg>
            </a>
            <a href="/crew/3" class="crew-slider-selector">
                <svg height="1rem" viewBox="0 0 2 2">
                    <circle id="anou" fill="#FFF" opacity="17%" cx="1" cy="1" r="1" />
                </svg>
            </a>
        </div>
    </div>
    <img src="<%= details.images.webp %>" alt="<%= details.name %>" class="crew-image">
</main>
</body>